<aside class="sidebar">
  <div class="sidebar-header">
    <h3>
      <i class="icon">💻</i>
      <span> Admin Panel</span>
    </h3>
  </div>
  <nav class="sidebar-nav">
    <ul>
      <li>
        <a routerLink="/admin/dashboard" routerLinkActive="active">
          <i class="icon">📊</i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/countries" routerLinkActive="active">
          <i class="icon">🌎</i>
          <span>Countries</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/states" routerLinkActive="active">
          <i class="icon">🏭</i>
          <span>States</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/cities" routerLinkActive="active">
          <i class="icon">🏙️</i>
          <span>Cities</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
