<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet"
						arguments=".\ECommercePlatform.Server.dll"
						stdoutLogEnabled="true"
						stdoutLogFile=".\logs\stdout"
						hostingModel="inprocess">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
				</environmentVariables>
			</aspNetCore>

			<!-- Enable detailed error pages for troubleshooting -->
			<httpErrors errorMode="Detailed" />

			<!-- Default document for Angular -->
			<defaultDocument>
				<files>
					<clear />
					<add value="index.html" />
				</files>
			</defaultDocument>

			<!-- URL Rewriting for Angular routes -->
			<rewrite>
				<rules>
					<!-- Handle Angular routes -->
					<rule name="AngularJS Routes" stopProcessing="true">
						<match url=".*" />
						<conditions logicalGrouping="MatchAll">
							<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
							<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
							<add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
							<add input="{REQUEST_URI}" pattern="^/(swagger)" negate="true" />
						</conditions>
						<action type="Rewrite" url="/" />
					</rule>
				</rules>
			</rewrite>
		</system.webServer>
	</location>
</configuration>